@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.text {
  @apply font-normal text-lg leading-[30px] text-[#6F6C90];
}
.text-bold {
  @apply font-bold text-base leading-[22px] text-[#100F14];
}

h4 {
  @apply text-[#170F49] font-bold text-xl leading-[22px];
}

.shadow-custom {
  box-shadow: 0px 12px 24px 4px rgba(38, 103, 255, 0.12);
}

.radial-gradient {
  background: radial-gradient(
    53.11% 53.08% at 50% 51.3%,
    #dfe8ff 0%,
    #fff 100%
  );
}
